*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: black;
    --bg-color: #eef0f2;
    --box-shadow-color: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(93, 104, 121, .888);
    --bt-color: #e7e8ec;
    --stroke-color: rgba(102, 100, 100, 0.2);
    --switch-bg-url: url(./assets/sun.svg);
}


/*body{
    /*background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/
    /*background: var(--bg-color);
}*/

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

/*display, justify e alingn: centralizar todo o conteúdo*/
#container{
    width: 100%;
    max-width: 580px;
    margin: 56px auto 0;
    padding: 0 24px;
}


.neumorphism{
    height: 800px;
    max-width: 580px;
    margin: 56px auto 0;
    padding: 0 24px;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-color);
}

.dark{
    --stroke-color: #2c2d2e67;
    --bt-color: #353638;
    --box-shadow-color: -6px -6px 10px #1c1c1c, 6px 6px 10px #262626;
    --text-color:white;
    --switch-bg-url: url(./assets/moon.svg);
    
    height: 800px;
    max-width: 580px;
    margin: 56px auto 0;
    padding: 0 24px;
    border-radius: 10px;
    background: #303234;
    box-shadow:  13px 13px 26px #1f2122, -13px -13px 26px #414446;
}
/* PROFILE */
#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 150px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* LINKS */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    border-radius: 10px;
    background: var(--bt-color);
    box-shadow:  var(--box-shadow-color);
   
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: all 0.2s;
} 

ul li a:hover{
    background: var(--stroke-color) 
}


/* SOCIAL LINKS */
#social-links{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;

    transition: 0.3s;
    border-radius: 50%;
}

#social-links a:hover{
    background: rgba(175, 171, 171, 0.534);
}
/* SWITCH */
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto; /*centralizar o switch*/
}

#switch button{
    width: 32px;
    height: 32px;
    background: rgba(126, 123, 123, 0.555) var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back .2s forwards;
}

.dark #switch button{
    animation: slide-in .2s forwards;
}

#switch button:hover{
    outline: 8px solid var(--stroke-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(204, 203, 203, 0.788);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/* ANIMAÇÕES */
@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-back {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}

#calc {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    margin: 30px 35%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
#calc::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
 #calc:hover::before {
    width: 100%;
  }


#princ {
    text-align: center;
    font-weight: bold;
    margin: 10% auto 0;
    max-width: 200px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.3);
    outline: none;
    color: var(--text-color);
  }